{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for article in articles %}
<article class="col-lg-offset-0 col-lg-9 col-lg-offset-3">
    <center>
		<h2>
			<a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a>
		</h2>
	</center>
    <img src="{{ app.request.basepath }}/images/Articles/{{ article.image }}" class="col-lg-offset-1 col-lg-10  img-responsive imgIndex" alt="Error ghost"/>
	
	<div class=" col-lg-offset-1 col-lg-10 footerIndexAricle">
		<p class="col-lg-offset-5">Tag for article coming soon!</p>	
	</div>
</article>
{% endfor %}
{% endblock %}

