body {
	background-color: #FBFAFA!important;
}

header {
	padding: 30px 30px 15px 15px;
	background-image: url('../images/head.png');
	background-size: cover;
}

header h1 {
	color: #A81515;
	font-size: 50px!important;
	margin-top: 0px!important;
}

header p {
	color: dimgrey!important;
	font-size: 14px!important;
	letter-spacing: 2px;
	padding-left: 1em;
}

.navbar-inverse {
	background-color: black!important;
}

.footer {
    border-top: 1px solid black;
	background-color: black;
    text-align: center;
	margin-top: 20px;
}

.footer a {
	color: darkgray;
}

.articleTitle:hover, .articleTitle:focus, .navbar-brand:hover {
    text-decoration: none;
	color: dimgrey!important;
}

.articleTitre, .comment, .addComment, .articleTitle {
	color: #A81515!important;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.imgIndex, .imgArticle {
	height: 450px!important;
}

.contentArticle {
	padding-top: 2.5em!important;
}

.articleTitre {
	padding-bottom: 0.6em;
}

.footerIndexAricle {
	border-top: 1.5px solid black;
	border-bottom: 4px solid black;
	padding-top: 1em;
	margin-top: 1em;
	margin-bottom: 2em;
}

.footerIndexAricle p {
	color: dimgrey!important;
}

.followMe {
	margin-top: 2em;
}

.followMe h3 {
	border-top: 1px solid black;
	border-bottom: 4px solid black;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 3.1em;
}

.followMe i {
	padding-right: 10px;
	color: #A81515;
}

.followMe i:hover {
	color: dimgrey;
}

.imgIndex {
	padding-top: 15px!important;
	padding-bottom: 15px!important;
}

.role {
	display: none;
}

.lastArticle {
	text-decoration: none;
	color: #A81515;
}

.lastArticle:hover {
	text-decoration: none;
	color: dimgrey;
}

.date {
	color: dimgrey!important;
}
